
  .container {
    width: 10px;
    height: 50px;
    border: 10px solid rgb(0, 0, 0);
  }

  img {
    width: 60%;
    height: 50%;
    object-fit: contain;
  }
 
  body {
    background-color: blanchedalmond;
    font-size: large;

  }
  

  .gradient-text {
    /* Define two colors for the gradient */
    --color-one: hsl(15 90% 55%);
    --color-two: hsl(40 95% 55%);
    /* Apply a linear gradient to the background */
    background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    ) 0 0 / var(--bg-size) 100%;
    /* Clip the background to the text shape */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* Define a custom property for the background size */
    --bg-size: 400%;
    /* Apply an animation to change the background position */
    animation: move-bg 8s infinite linear;
  }
  
  /* Define a keyframe for the animation */
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
